.education-section {
  padding: 4rem 0;
  .work-text {
    padding: 3rem;
    font-size: 90%;
    @media (min-width: 992px) {
      padding: 5rem;
    }
  }
  .img-circle {
    border-radius: 100%;
    text-align: center
  }
  .vanishing_line{
    display:block;
    border:none;
    color:white;
    height:2px;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 110, from($primary), to(#fff));
  }
}
