.terminal-section {
  padding: 5rem 0;
  p {
    margin-bottom: 5rem;
  }
  hr {
    width: 75%;
  }

  .vanishing_line{
    display:block;
    border:none;
    color:white;
    height:2px;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 280, from($primary), to(#f8f9fa));
    margin-bottom: 1rem;
  }
}

#terminal-bar {
  height: 25px;
  line-height: 25px;
  background: rgb(30, 30, 30);
  border-radius: 5px 5px 0 0;
  padding: 0 10px 0 10px;

  #bullet-container {
    float: right;
  }

  .bar-bullet {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    display: inline-block;
  }
  #green-bullet {
    background: #00ca4e;
  }
  #yellow-bullet {
    background: #ffbd44;
  }
  #red-bullet {
    background: #ff605c;
  }
}

#terminal {
  height: 400px;
  border-radius: 0 0 5px 5px;
}

#terminal-container {
  padding: 0 0 40px 0;
}
